.profile{
    padding-top: 40px;
}

.profile_container * {
    box-sizing: border-box;
    width: auto;
  }

.profile_container{
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem;

}

.profile_text::before {
    content: "\2022"; 
    margin-right: 8px; 
    font-size: 1.2em; 
}

.profile_text{
    font-size: 1.5rem;
    width: 20dvw;
}

.profile_text:hover{
    color:black;
}